%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 Client
      %p.lead Clients d'Awea.
  .subnav
    %ul.nav.nav-pills
      %li
        %a{:href => "#{clients_path}", :class => "btn btn-primary"} Liste
      %li
        %a{:href => "#{new_client_path}", :class => "btn btn-primary"} New
      - if @client != nil && @client.new_record? != true
        - if request.url.last != 't'
          %li
            %a{:href => "#{edit_client_path(@client)}", :class => "btn btn-primary"} Edit
        - else
          %li
            %a{:href => client_path(@client), :class => "btn btn-primary"} Show
