%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 Accès
      %p.lead Accès aux diverses ressources d'un projet.
  .subnav
    %ul.nav.nav-pills
      %li
        %a{:href => "#{accesses_path}"} Liste
      %li
        %a{:href => "#{new_access_path}"} New
      - if @access != nil && @access.new_record? != true
        - if request.url.last != 't'
          %li
            %a{:href => "#{edit_access_path(@access)}"} Edit
        - else
          %li
            %a{:href => "#{@access}"} Show
