%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 Accès
      %p.lead Accès aux diverses ressources d'un projet.
  .subnav
    %ul.nav.nav-pills
      %li
        %a{:href => project_accesses_path(@project), :class => 'btn btn-primary'} Liste
      %li
        %a{:href => new_project_access_path(@project), :class => 'btn btn-primary'} New
      - if @access != nil && @access.new_record? != true
        - if request.url.last != 't'
          %li
            %a{:href => edit_project_access_path(@project, @access), :class => 'btn btn-primary'} Edit
        - else
          %li
            %a{:href => project_access_path(@project, @access), :class => 'btn btn-primary'} Show
